# 変数

## 数値

In [7]:
a = 1

In [8]:
print(a)

1

In [9]:
a

1

In [10]:
b = 1.5

In [11]:
b

1.5

In [12]:
type(a) # Interger

int

In [13]:
type(b) # float

float

## 文字列

In [14]:
name = 'kikagaku'

In [15]:
name

'kikagaku'

In [16]:
name1 = 'company'

In [17]:
name2 = 'kikagaku'

In [19]:
name2 + ' ' + name1

'kikagaku company'

## 数値の四則演算

In [21]:
1 + 1

2

In [22]:
2 - 1

1

In [23]:
3 * 5

15

In [24]:
10/2

5.0

In [25]:
2 ** 3

8

# 基本構文
## 比較演算

In [26]:
1 < 2

True

In [27]:
a = 3

In [28]:
a < 2

False

In [30]:
a <=3

True

In [32]:
a == 3

True

In [34]:
a == 4

False

In [35]:
a != 3

False

In [36]:
a != 4

True

## エスケープシーケンス

In [37]:
print('Hello, I am kikagaku')

Hello, I am kikagaku

In [39]:
print('Hello, \nI am kikagaku')

Hello,
I am kikagaku

In [40]:
print('Hello, \tI am kikagaku')

Hello, 	I am kikagaku

## コメントアウト

In [41]:
# This is 〇〇 feature

# 複数の変数を扱おう

In [49]:
numbers = [4,5,6,7]

In [50]:
numbers

[4, 5, 6, 7]

In [51]:
numbers[0]

4

In [52]:
numbers[0:2]

[4, 5]

In [53]:
numbers[:2]

[4, 5]

In [54]:
numbers[2:]

[6, 7]

In [55]:
numbers

[4, 5, 6, 7]

In [56]:
names = []

In [57]:
names.append('company')

In [58]:
names.append('kikagaku')

In [59]:
names

['company', 'kikagaku']

## タプル

In [62]:
t = (4,5,6,7)

In [63]:
t

(4, 5, 6, 7)

In [64]:
t[0]

4

In [65]:
t[0:3]

(4, 5, 6)

## 辞書

In [72]:
results = {'数学' : 90, 1 : 90}

In [73]:
results

{'数学': 90, 1: 90}

In [74]:
results['数学']

90

In [75]:
results[1]

90

## 制御構文

### for 文 : 繰り返し

In [76]:
for i in range(5) : 
    print(i)

0
1
2
3
4

In [84]:
names = ['sato', 'suzuki', 'takahashi']

In [85]:
for i in range(3) : 
    print (names[i])

sato
suzuki
takahashi

In [87]:
for i in range(len(names)) : 
    print (names[i])

sato
suzuki
takahashi

In [90]:
for name in names :
    print (name)

sato
suzuki
takahashi

## if 文 : 条件分岐